#instaimage {
    margin-top: -30px;
    left: 274px;
    width: 150px;
    height: 80px;
    /* UI Properties */
    border: 2px solid #FFFFFF;
    opacity: 1;
}

b {
    top: 9px;
    left: 274px;
    width: 287px;
    height: 85px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 64px/85px Palatino;
    letter-spacing: 0px;
    color: #006238;
    opacity: 1;
}

#camImage {
    /* margin-top: -30px; */
    left: 274px;
    width: 150px;
    height: 80px;
    /* UI Properties */
    border: 2px solid #FFFFFF;
    opacity: 1;
    float: right;
}

.card {
    position: relative;
    top: 80px;
    left: 450px;
    height: 350px;
    width: 30rem;
    border: 1px solid #707070;
    opacity: 1;
}

.placeDiv {
    height: 60px;
    opacity: 1;
    border: 1px solid black;
}

.imageDiv {
    border: 1px solid #707070;
    opacity: 1;
    height: 220px;
}

#likeImg {
    position: relative;
    top: 7px;
    left: 20px;
    width: 32px;
    height: 32px;
}

#sendImg {
    position: relative;
    top: 7px;
    left: 28px;
    width: 25px;
    height: 25px;
}

strong {
    float: right;
    position: relative;
    top: 7px;
}

p {
    position: relative;
    top: 7px;
    left: 10px;
}